.navbar-default {
	border: none;
}
.navbar-btn {
    &.btn-lg {
    	margin-top: $base-spacing-sm - 1px;
    	margin-bottom: $base-spacing-sm - 1px;
    }
}
.navbar-toggle {
  margin-top: $base-spacing-sm + 2.5px;
  margin-bottom: $base-spacing-sm + 2.5px;
}
.navbar-brand {
  padding: $base-spacing-sm $navbar-padding-horizontal;
  height: 72px;
}
.navbar {
  min-height: 72px;
}
.navbar li a {
  padding-top: 23.5px;
  padding-bottom: 23.5px;
}
@media (min-width: $grid-float-breakpoint) {
	.navbar-right {
		li {
			&:last-child {
				a {
					margin-right: $base-spacing-lg;
				}
			}
		}
	}
	.navbar-left {
		li {
			&:first-child {
				a {
					margin-left: $base-spacing-lg;
				}
			}
		}
	}
}
footer {
	.navbar-inverse {
		background: transparent;
		border: none;
	}
}