//
// Scaffolding
// --------------------------------------------------

html,
body {
	height: 100%;
}
body {
	position: relative;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

a, button {
	@include transition(all ease-in-out .2s);
}

label {
	font-weight: normal;
}

hr {
	border-width: $border-width;
}

section {
	position: relative;
}
p {
	font-weight: $btn-font-weight;
}