/*
content
  - different section views
*/

.display-table, .box-full, .box-60, .box-80 {
	@extend %table-view;
}

.box-full {
	@include table-view-height(100%, 100%);
}

.box-60 {
	@include table-view-height(100%, 60%);
}

.box-80 {
	@include table-view-height(100%, 80%);
}

.box-hero-1 {
	background-image: url(../images/bg-room-darker.png);
	background-position: center;
	background-size: cover;
}

.box-hero-2 {
	background-image: linear-gradient(to bottom, rgba($brand-primary, .6) 0%, rgba($brand-primary, .6) 100%), url(../images/hero-2.jpg);
	background-position: center center;
	background-size: cover;
}

.box-bell {
  background-image: url(../images/bg-bell-white.png);
  background-position: center bottom;
  background-size: contain;
}

.table-middle {
	display: table-cell;
	vertical-align: middle;
}

.bg-trans-secondary {
  background:rgba($brand-secondary, .25);
}
.bg-trans-primary {
  background:rgba($brand-primary, .75);
}

.table-bottom {
	display: table-cell;
	vertical-align: bottom;
}
.va-center {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
.container-va {
  display : flex;
  align-items : center;
}
