<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-reorder"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Sebastian" src="images/brand-white.png" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-menu">
      <ul class="nav navbar-nav navbar-right">
      	<a href="https://play.google.com/store/apps/details?id=com.sebastian.customer" class="btn btn-primary navbar-btn hidden-xs hidden-sm btn-lg btn-shadow">Get Sebastian</a>
<!--        <a href="index.html#form-lead" data-scroll-to class="btn btn-primary navbar-btn hidden-xs hidden-sm btn-lg btn-shadow">Get Sebastian</a>--></-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="hotel.html">Hotel</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
